body {
    font-size: 15pt;
}

.game {
  position: relative;
  height: 200px;
  border: 1px solid black;
}

.game img {
  position: absolute;
  bottom: -10px;
}

.sprite {
  width: 30px;
  bottom: 0;
  height: 30px;
  position: absolute;
  background: black;
}